label, input, button{
    margin: 10px;
    padding: 5px;
}

footer {
    bottom: 0;
    position: absolute;
    width: 90%;
    height: 40px;
}

.NumberInQuery{
    font-size: 200px;
}

.TimeInQuery{
    font-size: 50px;
}

.FactoryText{
    font-size: 50px;
}